[Unit]
Description="GatoMalo Server"

[Service]
Environment="ZOHO_AUTH=11111"
Environment="ZOHO_ORG=11111"
Environment="ADMIN_USERNAME=1111"
Environment="ADMIN_PASSWORD=1111"
Type=simple
User=btc
WorkingDirectory=/gatomalo
ExecStart=/gatomalo/venv/bin/python /gatomalo/app.py

[Install]
WantedBy=multi-user.target
