[Unit]
Description="GatoMalo Server"

[Service]
Restart=always
RestartSec=5s
Type=simple
User=ubuntu
WorkingDirectory=/gatomalo
ExecStart=/gatomalo/venv/bin/python /gatomalo/app.py

[Install]
WantedBy=multi-user.target
