.id_customer{
  display: block;
  font-size: 10px;
  font-weight: 300;
}
.detail h1{
  font-size: 24px;
  margin: 0;
}
.detail h2{
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}
.info_nav{
  display: block;
  font-size: 10px;
  margin-left: 5px;
}
.box_action a{
  margin: 5px;
}
.info p{
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}
.info span{
  font-size: 14px;
  margin-bottom: 12px;
  display: block;
  margin-left: 5px;
  line-height: 26px;
}
.info_title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}