.id_customer{
  display: block;
  font-size: 10px;
  font-weight: 300;
}
.detail h1{
  font-size: 24px;
  margin: 0;
}
.detail h2{
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}
.info_nav{
  display: block;
  font-size: 10px;
  margin-left: 5px;
}
.box_action a{
  margin: 5px;
}
