{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron py-4 my-4">
        <h5 class="display-4">Invoice Listing</h5>
        <p class="lead">Opensource integration with Panama Fiscal Invoice</p>
        <div class="row">
            <div class="col">
              <a href="/reporteX" class="btn btn-dark btn-sm">Reporte X</a>
            </div>
            <div class="col">
                <a href="/reporteZ" class="btn btn-dark btn-sm">reporte Z</a>
              </div>
            <div class="col">
                <a href="/print_today" class="btn btn-dark btn-sm">Reimprimir facturas de hoy</a>
            </div>
        </div>
    </div>
    <div class="">
        <form class="form-inline float-right">
            <select name="status" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
              <option selected>Status</option>
              <option value="paid">Paid</option>
              <option value="overdue">Overdue</option>
              <option value="send">Send</option>
              <option value="draft">Draft</option>
            </select>
            <div class="my-1 mr-sm-2">
              <input name="search" type="text" class="form-control my-1 mr-sm-2" id="search"placeholder="Search: ID | Order | Customer"/>
            </div>
          
            <button type="submit" class="btn btn-primary my-1 btn-sm">Submit</button>
          </form>
    </div>
  <div class="table-responsive">
      <table class="table table-hover table-sm">
          <thead class="thead-dark wd">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Zoho ID</th>
              <th scope="col">Cliente</th>
              <th scope="col">Monto</th>
              <th scope="col">Fecha</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for invoice in invoices %}
            <tr class="{{ 'table-warning' if invoice.invoice_id in printed }} 
            {%if invoice.status == 'paid'%}
              table-primary 
              {%elif invoice.status == 'draft' %}
              table-dark not-allowed
              {%elif invoice.status == 'overdue'%}
              table-warning
            {%endif%}
            " data-container="body" data-toggle="popover" data-placement="right" data-content="{{invoice.status | capitalize}}">
              <th scope="row" >{{loop.index}}</th>
              <td>{{ invoice.invoice_id }}</td>
              <td>{{ invoice.customer_name}}</td>
              <td>{{ "${:,.2f}".format(invoice.total) }}</td>
              <td>{{ invoice.date }}</td>
              <td>
                  <a class="btn btn-info btn-sm" href="/info/{{ invoice.invoice_id }}" role="button">Details</a>
              </td>
              <td>
                  <a class="btn btn-primary text-light btn-sm {%if invoice.status == 'draft'%}disabled{%endif%} " data-id="{{ invoice.invoice_id }}" role="button">Print</a>
              </td>
              <td>
                  <a class="btn btn-secondary text-light btn-sm" data-invoice-id="{{ invoice.invoice_id }}" role="button">Demo</a>
                
              </td>
              <td>
                  <a class="btn btn-warning text-light btn-sm {%if invoice.status == 'draft'%}disabled{%endif%}" 
                  data-id="{{ invoice.invoice_id }}" 
                  data-toggle="modal"
                  data-target="#getFiscalIDDialog">Refund</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
  </div>
  
  <div class="row justify-content-md-center">
      {% if page_context["page"] != 1 %}
      <div class="col-md-auto">
        <a href="/{{ page_context["page"] - 1 }}">Previous</a>
      </div>
      {% endif %}
      {% if page_context.has_more_page %}
      <div class="col-md-auto">
        <a href="{{ page_context["page"] + 1 }}">Next</a>
      </div>
      {% endif%}
  </div>
</div>

<div class="modal fade" id="pleaseWaitDialog" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Please Wait....</h4>
    </div>
    <div class="modal-body">
    <div class="progress progress-success">
    <div class="bar progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%" data-percentage="100"></div>
    </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="getFiscalIDDialog" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
      <h4 class="modal-title">ID Fiscal</h4>
    </div>

    <div class="modal-body">
      <form class="form">
        <input type="hidden" name="invoice_id" id="invoice_id" />
        <fieldset class="form-group">
          <label class="control-label" label-for="fiscal_id">ID Fiscal</label>
          <input type="number" class="form-control" id="fiscal_id" name="fiscal_id" />
        </fieldset>
    </div>

    <div class="modal-footer">
      <button type='submit' class="btn btn-primary submit">Aceptar</button>
      </form>
    </div>

  </div>
</div>
</div>

{% endblock %}

{% block JS %}
     <!--custom JS-->
     <script src="{{ url_for('static', filename='js/gatomalo.js') }}"></script>
{% endblock %}

    