{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron py-4 my-4">
        <h5 class="display-4">Invoice Listing</h5>
        <p class="lead">Opensource integration with Panama Fiscal Invoice</p>

        <hr>

        <div class="row">
            <div class="col">
              <a href="/reporteX" class="btn  btn-sm btn-home-top">Reporte X</a>
            </div>
            <div class="col">
                <a href="/reporteZ" class="btn btn-sm btn-home-top">Reporte Z</a>
              </div>
            <div class="col">
                <a href="/print_today" class="btn  btn-sm btn-home-top">Reimprimir facturas de hoy</a>
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class=""><a href="/printed">impresas</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
    <div class="">
        <form class="form-inline float-right">
            <select name="status" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
              <option selected>Status</option>
              <option value="paid">Paid</option>
              <option value="overdue">Overdue</option>
              <option value="send">Send</option>
              <option value="draft">Draft</option>
            </select>
            <div class="my-1 mr-sm-2">
              <input name="search" type="text" class="form-control my-1 mr-sm-2" id="search"placeholder="ID | Order | Customer"/>
            </div>
          
            <button type="submit" class="btn btn-primary my-1 btn-sm">Submit</button>
          </form>
    </div>
  <div class="table-responsive">
      <table class="table table-hover table-sm">
          <thead class="thead-dark wd">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Zoho ID</th>
              <th scope="col">Cliente</th>
              <th scope="col">Monto</th>
              <th scope="col">Fecha</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for invoice in invoices %}
            <tr class="{{ 'table-warning' if invoice.invoice_id in printed }} 
            {%if invoice.status == 'draft'%}              
              not-allowed
            {%endif%}
            " id_invoice="{{invoice.invoice_id}}">
              <th scope="row" >{{loop.index}}</th>
              <td><a href="/info/{{ invoice.invoice_id }}">{{ invoice.invoice_id }}</a></td>
              <td>
                {{ invoice.customer_name}}
                {%if invoice.status == 'paid'%}
                 <span class="badge badge-success">{{invoice.status | capitalize}}</span>
                 {%elif invoice.status == 'overdue'%}
                 <span class="badge badge-warning">{{invoice.status | capitalize}}</span>
                 {%elif invoice.status == 'sent'%}
                 <span class="badge badge-light">{{invoice.status | capitalize}}</span>
                 {%elif invoice.status == 'sent'%}
                 <span class="badge badge-light">{{invoice.status | capitalize}}</span>
                 {%elif invoice.status == 'partially_paid'%}
                 <span class="badge badge-success">{{invoice.status | capitalize}}</span>
                 {%elif invoice.status == 'draft'%}
                 <span class="badge badge-secondary">{{invoice.status | capitalize}}</span>
                {%endif%}
              </td>
              <td>{{ "${:,.2f}".format(invoice.total) }}</td>
              <td>{{ invoice.date }}</td>
              <td class="{{ 'not-allowed' if invoice.invoice_id in printed }}">
                  <a class="btn btn-primary text-light text-light btn-sm {{ 'disabled' if invoice.invoice_id in printed }} {%if invoice.status == 'draft'%}disabled{%endif%} print_button " data-id="{{ invoice.invoice_id }}" role="button">Print</a>
              </td>
              <td>
                  <a class="btn btn-light btn-sm new-btn-light test_invoice" data-invoice-id="{{ invoice.invoice_id }}" role="button">Demo</a>
                
              </td>
              <td>
                  <a class="btn btn-warning text-light btn-sm {%if invoice.status == 'draft'%}disabled{%endif%}" 
                  data-id="{{ invoice.invoice_id }}" 
                  data-toggle="modal"
                  data-target="#getFiscalIDDialog">Refund</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
  </div>
  
  <div class="row justify-content-md-center">
      {% if page_context["page"] != 1 %}
      <div class="col-md-auto">
        <a href="/{{ page_context["page"] - 1 }}">Previous</a>
      </div>
      {% endif %}
      {% if page_context.has_more_page %}
      <div class="col-md-auto">
        <a href="{{ page_context["page"] + 1 }}">Next</a>
      </div>
      {% endif%}
  </div>
</div>

<!-- Modals -->
<div class="modal" tabindex="-1" role="dialog" id="pleaseWaitDialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please pray, hopefully work! </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="errorHandle" class="alert alert-warning d-none" role="alert">
          <h3 class="lead text-left">Up!... A cat fell down, sorry!</h3>
          <h5 class="alert-heading">Fields that you need to fill, to feed Kitties:</h5>
          <ul id="ErrorList"></ul>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">kittys Working!</div>
        </div>
        <div class="modal-footer">
          <button id="restart" type="button" class="btn btn-primary btn-sm disabled" data-dismiss="modal" onclick="location.reload(true);">Restart</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modals -->
<div class="modal" tabindex="-1" role="dialog" id="getFiscalIDDialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please pray, hopefully work! </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="form-group">
            <input type="hidden" name="invoice_id" id="invoice_id" />
            <label for="exampleInputEmail1">Email address</label>
            <input type="number" class="form-control" id="fiscal_id" name="fiscal_id" placeholder="Id Fiscal">
            <small id="emailHelp" class="form-text text-muted">Need a invoice Id to make a refund.</small>
          </div>
          <button type="submit" class="btn btn-primary submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block JS %}
     <!--custom JS-->
     <script src="{{ url_for('static', filename='js/gatomalo.js') }}"></script>
{% endblock %}

    