
{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-8">
          <div class="detail">
            <h1>{{data.invoice.customer_name}}</h1>
            <span class="id_customer">id: {{data.invoice.customer_id}}</span>
          </div>
          <hr>
          <div class="row">
            {%for item in data.invoice.line_items%}
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">{{item.description}}</p>
                  <p class="card-text"><small class="text-muted">Line id: {{item.line_item_id}}</small></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Tax: {{item.tax_percentage}}%</small>
                  <small class="text-muted float-right">Price: ${{item.item_total}}</small>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <table class="table">
                <thead  class="thead-dark">
                  <tr>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Tax</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">${{data.invoice.sub_total}}</th>
                    <td>${{data.invoice.tax_total}}</td>
                    <td>${{data.invoice.total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header info_title">Custom Fields</div>
            <div class="card-body info">
                <p>Razon Social: {%if contact_invoice[0].RazonSocial %}
                  </p><span>{{contact_invoice[0].RazonSocial}}</span>
                    {%else%}
                    <p>Empty</p>
                  {%endif%} 
                


                <p>RUC: {%if contact_invoice[1].RUC %} 
                  </p><span>{{contact_invoice[1].RUC}}</span>
                  {%else%}
                  <p>Empty</p>
                {%endif%} 



                {%if contact_invoice[2].DV %}
                  <p>DV: </p><span>{{contact_invoice[2].DV}}</span>
                  {%else%}
                  <p>Empty</p>
                {%endif%}


            </div>
            <div class="card-header info_title">Contact Info Invoice</div>
            <div class="card-body info">
                <p>First Name: </p><span>{{data.invoice.contact_persons_details[0].first_name}} {{data.invoice.contact_persons_details[0].last_name}}</span>
                <p>Email: </p><span>{{data.invoice.contact_persons_details[0].email}}</span>
                <p>Mobile: </p><span>{{data.invoice.contact_persons_details[0].mobile}}</span>
                <p>Phone: </p><span>{{data.invoice.contact_persons_details[0].phone}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <a class="btn btn-info" href="{{data.invoice.invoice_url}}" role="button">Proforma</a>
            </div>
            <div class="col-md-6">
              <a class="btn btn-success" href="#">Print</a>
            </div>
          </div>
        </div>

      </div>
    </div>
{%endblock%}